.header-backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 64px;
  left: 0;
  background-color: blue;
  z-index: 10;
}
.header-backdrop.hidden {
  display: none;
}
.header-modal {
  width: 500px;
  height: 500px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0;
  background-color: rgba(12, 12, 12, 0.377);
  z-index: 10;
  overflow: auto;
}
.backdrop.hidden {
  display: none;
}
.modal {
  width: 500px;
  min-height: 500px;
  background-color: var(--primary-color-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 15% auto;
}

.hide-scroll {
  overflow: hidden;
}

.author-modal {
  font-size: 14px;
  font-weight: 400;
  color: var(--secondary-color-text);
}

.light-theme .modal {
  background-color: rgba(255, 255, 255, 1);
  border: 2px solid rgba(17, 17, 17, 1);
}
.dark-theme .modal {
  background-color: rgba(32, 32, 36, 1);
  border: 2px solid rgba(255, 255, 255, 1);
}
