<section class="main-section">
  <ul class="book-list js-book-list">
    <!-- <li>
      <div>
        <img src="" alt="book" />
      </div>
      <div>
        <div>
          <div>
            <h2></h2>
            <h3></h3>
          </div>
          <div>
            <svg class="" width="" height="">
              <use href=""></use>
            </svg>
          </div>
        </div>
        <div><p></p></div>
        <div>
          <div><p></p></div>
          <div></div>
        </div>
      </div>
    </li> -->
  </ul>
</section>
