<section class="support">
  <div class="support-title">
    <h3 class="support-title-name">Support Ukraine</h3>
    <svg width="20" height="32">
      <use href="../img/icons.svg#icon-ukraine"></use>
    </svg>
  </div>
  <ul class="support-list js-support-list">
    <!-- <li class="support-item">
      <a href="" class="support-item-link">
        <p class="support-item-name"></p>
        <svg class="support-item-logo">
          <use></use>
        </svg>
      </a>
    </li> -->
    `;
  </ul>
</section>
