<header class="header">
  <div class="conteiner header-container">
    <a class="logo-link" href="./index.html"
      ><svg class="header-logo" width="107" height="27">
        <use href="../img/icons.svg#icon-logo"></use>
      </svg>
    </a>
    <nav class="nav header-navigation">
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link" href="./index.html">HOME</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="./shoping-list.html">SHOPPING-LIST</a>
        </li>
      </ul>

      <!-- <div class="ios-toggle">
        <input type="checkbox" id="ios-toggle" /><label
          for="ios-toggle"
        ></label>
      </div> -->
      <div class="header-burger-menu">
        <div class="btn-burger-menu">
          <svg width="50" height="50">
            <use href="../img/icons.svg#icon-burger-menu"></use>
          </svg>
        </div>
      </div>
    </nav>
  </div>
</header>
