<header class="header">
  <a href="./index.html"
    ><svg class="header-logo" width="50" height="50">
      <use href="../img/icons.svg#icon-logo"></use>
    </svg>
  </a>
  <nav class="nav header-navigation">
    <ul class="nav-list">
      <li class="nav-item">
        <a class="nav-link" href="./index.html">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="./shoping-list.html">shoping-list</a>
      </li>
    </ul>
  </nav>
  <div class>перемикач теми</div>
  <div class="header-burger-menu">
    <div class="btn-burger-menu">
      <svg width="50" height="50">
        <use href="../img/icons.svg#icon-burger-menu"></use>
      </svg>
    </div>
  </div>
</header>
