<section>
  <div class="header-backdrop hidden js-header-backdrop">
    <div class="header-modal">
      <a class="nav-link" href="./index.html">Home</a
      ><a class="nav-link" href="./shoping-list.html">Shoping-list</a>
    </div>
  </div>
  <div class="backdrop hidden js-backdrop">
    <div class="modal">
      <div class="modal-content js-modal-content"></div>
      <div class="modal-btn-close js-modal-btn-close">
        <svg width="28" height="28">
          <use href="../img/icons.svg#icon-x-close"></use>
        </svg>
      </div>
      <button type="button" class="btn-modal-buy js-btn-modal-buy">
        ADD TO SHOPPING LIST
      </button>
      <p class="message-modal js-message-modal">
        Сongratulations! You have added the book to the shopping list. To
        delete, press the button “Remove from the shopping list”.
      </p>
    </div>
  </div>
</section>
